.deepzoom_viewer_canvas {
  box-shadow: 0 0 10px black;
  margin: 5em auto;
  width: 512px;
  height: 512px;
  position: relative;
  overflow: hidden;
}
.deepzoom_viewer_canvas.debug {
  overflow: visible;
}
.deepzoom_viewer_canvas.flattened {
  overflow: visible;
  -webkit-transform: translate(0px,0px) scale(1) !important;
}
.deepzoom_viewer_canvas.flattened  .deepzoom_canvas_level[style] {
  position: static;
  -webkit-transform: translate(0px,0px) scale(1) !important;
}
.deepzoom_canvas_level {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  width: 512px;
  height: 512px;
  overflow: hidden;
}
.deepzoom_canvas_level canvas {
  /* border: 1px solid black; */
  position: absolute;
  top: 0;
  left: 0;
}
.deepzoom_viewer_canvas.debug .deepzoom_canvas_level {
  outline: 0px solid red;
  box-shadow: 0px 0px 20px #f00;
  background: rgba(255,0,0,.2);
  opacity: 1;
}
.deepzoom_viewer_canvas.debug .deepzoom_canvas_level:hover {
  z-index: 100;
  opacity: 1;
}
